<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/_head', { pageTitle: pageTitle }) %>
</head>

<body>
    <div class="layout">
        <%- include('partials/_sidebarGlobal', { user: user, activeMenu: activeMenu }) %>
            <div class="main-content">
                <%- include('partials/_navbar', { user: user }) %>
                    <div class="content-wrapper p-3">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h1 class="h3"> <%= pageTitle ? pageTitle.split(' - ')[0] : ' Usuarios' %></h1>
                                    <!-- Botón para abrir el modal -->
                                    <button type="button" class="btn btn-sm btn-neo-agregar" data-bs-toggle="modal" data-bs-target="#modalRegiTercero">
                                        <i class="bi bi-plus-circle me-1"></i>Registrar Cliente
                                    </button>
                            </div>
                            <div class="modal fade" id="modalRegiTercero" tabindex="-1" aria-labelledby="modalRegiTerceroLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form id="formRegiTercero" action="/clientes/nuevo" method="POST">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalRegiTerceroLabel">Registro Tercero</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="nombre_razon_social" class="form-label">Nombre Cliente</label>
                                                    <input type="text" class="form-control" id="nombre_razon_social" name="nombre_razon_social" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="tipo_documento_identidad" class="form-label">Tipo Documento</label>
                                                    <input type="text" class="form-control" id="tipo_documento_identidad" name="tipo_documento_identidad" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="numero_documento_identidad" class="form-label">Número de Documento</label>
                                                    <input type="text" class="form-control" id="numero_documento_identidad" name="numero_documento_identidad" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="direccion" class="form-label">Dirección</label>
                                                    <input type="text" class="form-control" id="direccion" name="direccion" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="telefono_contacto" class="form-label">Telefono</label>
                                                    <input type="text" class="form-control" id="telefono_contacto" name="telefono_contacto" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>   
                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Correo Electronico</label>
                                                    <input type="email" class="form-control" id="email" name="email" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-neo-agregar btn-sm">Registrar</button>
                                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                         </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal para editar cliente -->
                            <div class="modal fade" id="modalEditarTercero" tabindex="-1" aria-labelledby="modalEditarTerceroLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form id="formEditarTercero">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalEditarTerceroLabel">Editar Cliente</h5>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" id="edit_id_tercero" name="id_tercero">
                                                <div class="mb-3">
                                                    <label for="edit_nombre_razon_social" class="form-label">Nombre Cliente</label>
                                                    <input type="text" class="form-control" id="edit_nombre_razon_social" name="nombre_razon_social" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit_tipo_documento_identidad" class="form-label">Tipo Documento</label>
                                                    <input class="form-control" id="edit_tipo_documento_identidad" name="tipo_documento_identidad" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit_numero_documento_identidad" class="form-label">Número de Documento</label>
                                                    <input type="text" class="form-control" id="edit_numero_documento_identidad" name="numero_documento_identidad" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit_direccion" class="form-label">Dirección</label>
                                                    <input type="text" class="form-control" id="edit_direccion" name="direccion" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit_telefono_contacto" class="form-label">Teléfono</label>
                                                    <input type="text" class="form-control" id="edit_telefono_contacto" name="telefono_contacto" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>   
                                                <div class="mb-3">
                                                    <label for="edit_email" class="form-label">Correo Electrónico</label>
                                                    <input type="email" class="form-control" id="edit_email" name="email" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-neo-agregar btn-sm">Actualizar</button>
                                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="bi bi-search fs-5 me-3"></i>
                                        <input type="text" id="buscador" class="form-control" placeholder="Buscar cliente..." onkeyup="filtrarClientes()">
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped table-sm" id="tablaClientesNeoPOS">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>ID</th>
                                                    <th>Nombre Cliente</th>
                                                    <th>Tipo Documento</th>
                                                    <th>#Documento</th>
                                                    <th>Dirección</th>
                                                    <th>Teléfono</th>
                                                    <th>Correo Electronico</th>
                                                    <th>Fecha Registro</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-clientes">
                                            <% clientes.forEach(tercero=> { %>
                                                <tr class="text-center">
                                                    <td><%= tercero.id_tercero %></td>
                                                    <td><%= tercero.nombre_razon_social %></td>
                                                    <td><%= tercero.tipo_documento_identidad %></td>
                                                    <td><%= tercero.numero_documento_identidad %></td>
                                                    <td><%= tercero.direccion %></td>
                                                    <td><%= tercero.telefono_contacto %></td>
                                                    <td><%= tercero.email %></td>
                                                    <td><%= tercero.fecha_registro %></td>
                                                    <td><button class="btn btn-sm <%= tercero.activo ? 'btn-neo-agregar' : 'btn-danger' %>"
                                                                onclick="toggleActivo(this, <%= tercero.id_tercero %>, <%= tercero.activo %>)">
                                                                <i id="icono-<%= tercero.id_tercero %>" class="<%= tercero.activo ? 'bi bi-check-circle-fill' : 'bi bi-x-circle-fill' %>"></i></button></td>
                                                    <td> <button class="btn btn-sm btn-outline-primary me-1" 
                                                                onclick="abrirModalEditar(<%= tercero.id_tercero %>, '<%= tercero.nombre_razon_social %>', '<%= tercero.tipo_documento_identidad %>', '<%= tercero.numero_documento_identidad %>', '<%= tercero.direccion %>', '<%= tercero.telefono_contacto %>', '<%= tercero.email %>')">
                                                            <i class="bi bi-pencil-square"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <%- include('partials/_scripts') %>
    <script src="/js/clientes.js"></script>
</body>

</html>