<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/_head', { pageTitle: pageTitle }) %>
</head>

<body>
    <div class="layout">
        <%- include('partials/_sidebar', { activeMenu: activeMenu }) %>
            <div class="main-content">
                <%- include('partials/_navbar', { user: user }) %>
                    <div class="content-wrapper p-3">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h1 class="h3"> <%= pageTitle ? pageTitle.split(' - ')[0] : ' Usuarios' %></h1>
                                    <!-- Botón para abrir el modal -->
                                    <button type="button" class="btn btn-sm btn-neo-agregar" data-bs-toggle="modal" data-bs-target="#modalCrearUsuario">
                                        <i class="bi bi-plus-circle me-1"></i>Crear Usuario
                                    </button>
                            </div>
                            <div class="modal fade" id="modalCrearUsuario" tabindex="-1" aria-labelledby="modalCrearUsuarioLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form id="formCrearUsuario" action="/usuarios/nuevo" method="POST">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalCrearUsuarioLabel">Crear Usuario</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-2">
                                                    <label for="nombre" class="form-label">Nombre Completo</label>
                                                    <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="tipo_documento_identidad" class="form-label">Tipo Documento de Identidad</label>
                                                    <input type="text" class="form-control" id="tipo_documento_identidad" name="tipo_documento_identidad">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="documento_identidad" class="form-label">Número de Documento</label>
                                                    <input type="text" class="form-control" id="numero_documento_identidad" name="numero_documento_identidad">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Correo Electronico</label>
                                                    <input type="email" class="form-control" id="email" name="email" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="telefono" class="form-label">Telefono</label>
                                                    <input type="text" class="form-control" id="telefono" name="telefono">
                                                </div>                                            
                                                <div class="mb-3">
                                                    <label for="cargo" class="form-label">Cargo</label>
                                                    <input type="text" class="form-control" id="cargo_descripcion" name="cargo_descripcion">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="rol" class="form-label">Rol del Usuario</label>
                                                    <select class="form-select" id="id_rol_usuario" name="id_rol_usuario" required>
                                                        <option value="">Selecciona un rol</option>
                                                        <% if (typeof roles !== 'undefined' && roles.length > 0) { %>
                                                            <% roles.forEach(rol => { %>
                                                                <option value="<%= rol.id_rol_usuario %>"><%= rol.nombre_rol %></option>
                                                            <% }) %>
                                                        <% } %>
                                                    </select>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="username" class="form-label">Usuario Login</label>
                                                    <input type="text" class="form-control" id="login_acceso" name="login_acceso" pattern="[a-z0-9]+" title="Solo letras minusculas y numeros" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password" class="form-label">Contraseña</label>
                                                    <input type="password" class="form-control" id="password_hash" name="password_hash" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-neo-agregar btn-sm">Crear</button>
                                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                         </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="bi bi-search fs-5 me-3"></i>
                                        <input type="text" id="buscador" class="form-control" placeholder="Buscar usuario..." onkeyup="filtrarUsuarios()">
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped table-sm" id="tablaUsuarioNeoPOS">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>Nombre</th>
                                                    <th>Tipo de Identificación</th>
                                                    <th>Identificación</th>
                                                    <th>Teléfono</th>
                                                    <th>Email</th>
                                                    <th>Cargo</th>
                                                    <th>Fecha de Creación</th>
                                                    <th>Ultimo Acceso</th>
                                                    <th>Rol</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-usuarios">
                                                <% usuarios.forEach(usuario=> { %>
                                                    <tr>
                                                        <td><%= usuario.nombre_completo %></td>
                                                        <td><%= usuario.tipo_documento_identidad %></td>
                                                        <td><%= usuario.numero_documento_identidad %></td>
                                                        <td><%= usuario.telefono || 'N/A' %></td>
                                                        <td><%= usuario.email %></td>
                                                        <td><%= usuario.cargo_descripcion %></td>
                                                        <td><%= new Date(usuario.fecha_creacion).toLocaleDateString() %></td>
                                                        <td><%= usuario.ultimo_acceso ? new
                                                                Date(usuario.ultimo_acceso).toLocaleDateString()
                                                                : 'Nunca' %>
                                                        </td>
                                                        <td><%= usuario.rol_usuario.nombre_rol %></td>
                                                        <td><button class="btn btn-sm <%= usuario.activo ? 'btn-success' : 'btn-danger' %>"
                                                               onclick="toggleActivo(this, <%= usuario.id_usuario %>, <%= usuario.activo %>)">
                                                            <i id="icono-<%= usuario.id_usuario %>" class="<%= usuario.activo ? 'bi bi-check-circle-fill' : 'bi bi-x-circle-fill' %>"></i></button></td>
                                                        <td class="acciones-tabla"> 
                                                            <button class="btn btn-sm btn-outline-danger" title="Eliminar" onclick="eliminarUsuario(<%= usuario.id_usuario %>, this)"> <i class="bi bi-trash"></i> </button>
                                                            <button class="btn btn-sm btn-outline-success toggle-permisos" data-bs-toggle="modal" data-bs-target="#modalPermisos" title="Permisos" data-user-id="<%= usuario.id_usuario %>"><i class="bi bi-eye"></i></button>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <!-- Modal para modificar permisos -->
                                        <div class="modal fade" id="modalPermisos" tabindex="-1" aria-labelledby="modalPermisosLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Modificar permisos de vista</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="formPermisos">                                                            
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="permisoInventario" name="ventas">
                                                                <label class="form-check-label" for="permisoVentas">Inventario</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="permisoCompras" name="compras">
                                                                <label class="form-check-label" for="permisoUsuarios">Compras y Gastos</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="permisoVentas" name="ventas">
                                                                <label class="form-check-label" for="permisoConfiguracion">Ventas y Clientes</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="permisoAdministracion" name="administracion">
                                                                <label class="form-check-label" for="permisoConfiguracion">Administración</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="permisoReportes" name="reportes">
                                                                <label class="form-check-label" for="permisoConfiguracion">Reportes</label>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                                                        <button type="button" class="btn btn-secondary btn-sm" id="guardarPermisos">Guardar cambios</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <%- include('partials/_scripts') %>
    <script src="/js/usuario.js"></script>
</body>

</html>