<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/_head', { pageTitle: pageTitle }) %>
</head>

<body>
    <div class="layout">
        <%- include('partials/_sidebarGlobal', { user: user, activeMenu: activeMenu }) %>
            <div class="main-content">
                <%- include('partials/_navbar', { user: user }) %>
                    <div class="content-wrapper p-3">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h1 class="h3">
                                    <%= pageTitle ? pageTitle.split(' - ')[0] : ' Usuarios' %>
                                </h1>
                            </div>
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="bi bi-search fs-5 me-3"></i>
                                        <input type="text" id="buscador" class="form-control" placeholder="Buscar ventas..." onkeyup="filtrarVentas()">
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped table-sm" id="tablaVentasNeoPOS">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>ID</th>
                                                    <th>Cliente</th>
                                                    <th>Vendedor</th>
                                                    <th>Tipo Comprobante</th>
                                                    <th>Serie</th>
                                                    <th>#Compobante</th>
                                                    <th>Valor Total</th>
                                                    <th>Observaciones</th>
                                                    <th>Estado</th>
                                                    <th>DescargarFactura</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-ventas">
                                                <% ventas.forEach(venta=> { %>
                                                    <tr class="text-center">
                                                        <td><%= venta.id_venta %></td>
                                                        <td><%= venta.tercero.nombre_razon_social %></td>
                                                        <td><%= venta.usuario.nombre_completo %></td>
                                                        <td><%= venta.tipo_comprobante %></td>
                                                        <td><%= venta.serie_comprobante %></td>
                                                        <td><%= venta.numero_comprobante %></td>
                                                        <td><%= venta.total_venta_final %></td>
                                                        <td><%= venta.observaciones %></td>
                                                        <td><%= venta.estado_venta %></td>
                                                        <td><a href="/ventas/pdf/<%= venta.id_venta %>" target="_blank" class="btn btn-sm btn-success">📄Factura </a></td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <%- include('partials/_scripts') %>
        <script src="/js/ventas.js"></script>
</body>

</html>